* {
    font-family: 'Play', sans-serif;
    color: white;
}

.not-displayed {
    display: none;
    color: white;
}

input, select, textarea {
    color: #311a3b;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    border-radius: 25px;
    color: white
}

h5 {
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    border-radius: 25px;
    color: white
}

body {
    background-image: linear-gradient( 90deg, #614385 0%, #516395 90%);
}


form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #141c1f;
}

#City-Name-input {
    font-size: 25px;
}

#city-name-input {
    font-family: 'Play', sans-serif;
}

li#title {
    font-family: 'Play', sans-serif;
}


#get-weather-btn {
    font-family: 'Play', sans-serif;
    background-image: linear-gradient(to right, #614385 0%, #516395 51%, #614385 100%)
}

#get-weather-btn {
    padding: 15px 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

    #get-weather-btn:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }
         

#title {
    font-size: 16px;
    font-family: HelveticaNeue-Thin;
}

#summary {
    font-size: 35px;
    font-family: HelveticaNeue-Thin;
}

    #summary img {
        float: right;
        border-radius: 25px;
    }

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
    font-family: HelveticaNeue-Thin
}





